{% extends 'layout.html' %}
{% block content %}
	<div style="background-image: radial-gradient(farthest-corner at 45px 45px , #334b6f 0%, #273145 100%);">
		<div class="container-fluid pb-5" style="padding-top: 7rem;">
			<div class="container bg-light rounded pt-2">
				<div class="p-3">
					<h1 class="fw-bold"> <img src="../static/images/aboutme/i.png" width="35" class="pb-2">&nbspAbout Me</h1>

					<div class="row">
						<div class="col-xl-10 col-lg-10 col-md-9 col-sm-9 col-9">

							<p class="fs-5 text-start">Hello, I am Diego Coronel, university student currently, passionate for Networking and software deveploment.
								I look for daily improvement, and thus get a job in a quality company with values, that contributes 
								to my professional and personal growth, and I also contribute with my knowledge.</p>
							
							<p class="fs-5 text-start">Since I discovered
								the programming, I could expand my mind and started to learn many technologies like Python,
								PHP, SQL, etc. And I am ready to learn more technologies.
							</p>
							
							<p class="fs-5 text-start">You can know my academic information, hobbies, proyects, GitHub and LinkedIn. I expect you like it!</p>
							
						</div>
						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-3">
							<img src="../static/images/aboutme/profile.jpg" alt="Diego Coronel Vilca" class="img-fluid rounded">
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col">
							<h3 class="fw-bold"> <!--<img src="../static/images/aboutme/check.png" width="25" class="pb-1"> --->Personal Information</h3>
							<ul>
								<li><p class="fs-5 text-start">I live in Los Olivos, Lima, Perú &nbsp  <img src="../static/images/aboutme/peru.png" width="20"></p></li>
								<li><p class="fs-5 text-start">I was born in 10 July, 1999. I am 21 years old &nbsp <img src="../static/images/aboutme/years.png" width="20"></p></li>
								<li><p class="fs-5 text-start">I study in San Marcos University &nbsp<img src="../static/images/aboutme/uni.png" width="25"></p></li>
								<li><p class="fs-5 text-start">Chess and Football are my favourites sports &nbsp<img src="../static/images/aboutme/caballo.png" width="25"></p></li>
							</ul>
						</div>

						<div class="col">
							<h3 class="fw-bold"> <!--<img src="../static/images/aboutme/check.png" width="25" class="pb-1">---> Aptitudes</h3>
							<ul>
								<li><p class="fs-5 text-start">Fast learning &nbsp<img src="../static/images/aboutme/foco.png" width="25"></p></li>
								<li><p class="fs-5 text-start">Positivism &nbsp<img src="../static/images/aboutme/positive.png" width="25"></p></li>
								<li><p class="fs-5 text-start">Effective communication &nbsp<img src="../static/images/aboutme/ef_com.png" width="25"></p></li>
								<li><p class="fs-5 text-start">Constancy &nbsp<img src="../static/images/aboutme/const.png" width="25"></p></li>
								<li><p class="fs-5 text-start">Perseverance &nbsp<img src="../static/images/aboutme/podio.png" width="25"></p></li>

							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}
