{% extends 'layout.html' %}
{% block content %}
<div style="background-image: radial-gradient(farthest-corner at 45px 45px , #675294 0%, #d08c83 100%);">
	<div class="container-fluid pb-5" style="padding-top: 7rem;">
		<div class="container bg-light rounded pt-2">
			<div class="p-3">
				<h1 class="fw-bold">Proyects</h1>
				<p class="fs-5 text-start">Quality Stack is a proyect which contains my two passions (Networking and Software Deveploment). This is a web
				environment for handling the quality of service of a Ryu SDN controller. SDN is a technology which helps us to have
				a network centralized control. Using Python and the Ryu API, I could build that.</p>
			</div>

			<div class="container pt-5 pb-5 pe-5 ps-5">
				<div id="carouselExampleControls" class="carousel slid bg-dark rounded" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
						<img src="../static/images/proyects/full_qs.png" class="d-block w-40">
						</div>
						<div class="carousel-item">
						<img src="../static/images/proyects/qs.png" class="d-block w-40">
						</div>
						<div class="carousel-item">
						<img src="../static/images/proyects/port.png" class="d-block w-40">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}
