{% extends 'layout.html' %}
{% block content %}
<div style="background-image: radial-gradient(farthest-corner at 45px 45px , #675294 0%, #d08c83 100%);">

	<div class="container-fluid pb-5" style="padding-top: 7rem;">
		<div class="container bg-light rounded pt-2">
			<div class="p-3">
				<h1 class="fw-bold">Proyects</h1>
				<p class="fs-5 text-start">Quality Stack is a proyect which contains my two passions (Networking and Software Deveploment). This is a web
				environment for handling the quality of service of a Ryu SDN controller. SDN is a technology which helps us to have
				a network centralized control. Using Python and the Ryu API, I could build that.</p>
			</div>

		</div>
	</div>
</div>

{% endblock %}
