{% extends 'layout.html' %}
{% block content %}
	<div style="background-image: radial-gradient(farthest-corner at 45px 45px , #339792 0%, #252b44 100%);">

		<div class="container-fluid pb-5" style="padding-top: 7rem;">
			<div class="container bg-light rounded pt-2">
				<div class="p-3">
					<h1 class="fw-bold"> <img src="../static/images/studies/uni.png" width="45" class="pb-2">&nbspStudies</h1>

					<div class="row pt-3 pb-3 mt-3 mb-3 rounded" style="background-color: #EAECEE;">
						<div class="col-xl-9 col-lg-9 col-md-8">
							<h3 class="fs-5 fw-bold">Telecommunication Engineer</h3>
							<p class="fs-5 text-start" >I study in San Marcos Mayor National University, in the Electric and Electronict faculty, in the Telecomunications
							Ingeneer career. Currently, I am in 9° cycle and got 10th Higher Merit.</p>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<img src="../static/images/studies/sanmarcos.jpg" alt="UNMSM" class="img-fluid rounded">
						</div>
					</div>

					<div class="row pt-3 pb-3 mt-3 mb-3 rounded" style="background-color: #D6EAF8;">
						<div class="col-xl-9 col-lg-9 col-md-8">
							<h3 class="fs-5 fw-bold">Cisco CCNA Module 3</h3>
							<p class="fs-5 text-start" >Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Non ipsum amet, magnam provident molestias placeat ratione odio sit vel 
							laudantium! Aut earum voluptatem tenetur reprehenderit, voluptatibus placeat aliquam maiores 
							nobis!</p>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<img src="../static/images/studies/ccna_cisco.jpg" alt="Cisco" class="img-fluid rounded">
						</div>
					</div>

					<div class="row pt-3 pb-3 mt-3 mb-3 rounded" style="background-color: #EAECEE;">
						<div class="col-xl-9 col-lg-9 col-md-8">
							<h3 class="fs-5 fw-bold">Python</h3>
							<p class="fs-5 text-start" >Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Non ipsum amet, magnam provident molestias placeat ratione odio sit vel 
							laudantium! Aut earum voluptatem tenetur reprehenderit, voluptatibus placeat aliquam maiores 
							nobis!</p>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<img src="../static/images/studies/py.png" alt="Python" class="img-fluid rounded">
						</div>
					</div>
					
					<div class="row pt-3 pb-3 mt-3 mb-3 rounded" style="background-color: #D6EAF8;">
						<div class="col-xl-9 col-lg-9 col-md-8">
							<h3 class="fs-5 fw-bold">GNU Linux</h3>
							<p class="fs-5 text-start">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Non ipsum amet, magnam provident molestias placeat ratione odio sit vel 
							laudantium! Aut earum voluptatem tenetur reprehenderit, voluptatibus placeat aliquam maiores 
							nobis!</p>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<img src="../static/images/studies/linux.png" alt="Linux" class="img-fluid rounded">
						</div>
					</div>
					
					<div class="row pt-3 pb-3 mt-3 mb-3 rounded" style="background-color: #EAECEE;">
						<div class="col-xl-9 col-lg-9 col-md-8">
							<h3 class="fs-5 fw-bold">Base de Datos</h3>
							<p class="fs-5 text-start">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Non ipsum amet, magnam provident molestias placeat ratione odio sit vel 
							laudantium! Aut earum voluptatem tenetur reprehenderit, voluptatibus placeat aliquam maiores 
							nobis!</p>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<img src="../static/images/studies/database.jpg" alt="database" class="img-fluid rounded">
						</div>
					</div>

					<div class="row pt-3 pb-3 mt-3 mb-3 rounded" style="background-color: #D6EAF8;">
						<div class="col-xl-9 col-lg-9 col-md-8">
							<h3 class="fs-5 fw-bold">Microsoft Excel</h3>
							<p class="fs-5 text-start">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Non ipsum amet, magnam provident molestias placeat ratione odio sit vel 
							laudantium! Aut earum voluptatem tenetur reprehenderit, voluptatibus placeat aliquam maiores 
							nobis!</p>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
								<img src="../static/images/studies/excel.jpg" alt="excel" class="img-fluid rounded">
						</div>
					</div>

					<div class="row pt-3 pb-3 mt-3 mb-3 rounded" style="background-color: #EAECEE;">
						<div class="col-xl-9 col-lg-9 col-md-8">
							<h3 class="fs-5 fw-bold">HTML - CSS - JavaScript</h3>
							<p class="fs-5 text-start">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Non ipsum amet, magnam provident molestias placeat ratione odio sit vel 
							laudantium! Aut earum voluptatem tenetur reprehenderit, voluptatibus placeat aliquam maiores 
							nobis!</p>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
								<img src="../static/images/studies/html-css-js.jpeg" alt="HTML-CSS-JS" class="img-fluid rounded">
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}
